/** CSS STYLE **/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}

h1, h2, h3 {
  font-family: 'Neucha', cursive;
  font-weight: 400;
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}
p {
  margin: 0 0 14px 0;
}

/* CSS HEADER */

.back {
  position: relative;
  width: 1440px;
  height: 950px;
}
.back::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  opacity: 0.1;
}
.header-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}
.header-title1 {
  display: flex;
  padding: 100px 0 0 165px;
  color: var(--basic);
}
.header-title2 {
  display: flex;
  padding-left: 165px;
}
.paragraph {
  display: flex;
  padding: 200px 0 0 165px;
}
.header-text1 {
  width: 540px;
  margin-right: 15px;
}
.header-text2 {
  width: 540px;
  margin-left: 15px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 735px;
  width: 150px;
  height: 50px;
  background: var(--basic);
}
.link {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
}

/* CSS MAIN */

.back-white {
  position: relative;
  width: 1440px;
  height: 850px;
}
.video-title1 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.video-title2 {
  display: flex;
  justify-content: center;
  color: var(--basic);
}
.video-text {
  display: flex;
  justify-content: center;
  padding-top: 27px;
}
.video {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}